.container {
  padding-bottom: 0.3rem;
}

.row {
  flex-direction: row;
  display: flex;
  flex: 1;
  margin-top: 0.3rem;
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.heading {
  margin-right: 1rem;
  font-size: medium;
  line-height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  margin-top: 0;

  h3 {
    margin-top: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
  padding: 0.3rem;
  border-radius: 2px;
  border-width: 1px;
  border-color: black;
  background: gainsboro;
}

select.custom-select {
  background: #2196f3;
  font-size: large;
  border: 0;
  border-radius: 0.11rem;
  color: white;
  width: 7rem;

  option {
    background: #ddf0ff;
    color: black;
  }
}

input:not([type="checkbox"]) {
  border: none;
  border-bottom: 1px solid gray;
  width: 5rem;
  font-size: large;
}

input#POPUP_WIDTH {
  margin-right: 0.4rem;
  text-align: right;
  padding-right: 0;
}

span {
  font-size: medium;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
